.profile__edit-button {
  grid-column: 2;
  grid-row: 1;
  background-color: black;
  border: 1px solid #FFF;
  background-image: url("../../../image/profile-vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 24px;
  min-height: 24px;
  align-self: end;
}